.chat-container {
  max-width: 550px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  border: 1px solid #ccc;
  border-radius: 12px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  overflow: hidden;
  background-color: #fff;
}

.chat-header {
  background-color: #161617;
  color: white;
  padding: 10px;
  text-align: center;
  border-bottom: 1px solid #ccc;
}

.typing-indicator {
  font-size: 0.9rem;
  margin-top: 5px;
  color: lightgray;
}

.chat-body {
  flex-grow: 1;
  padding: 10px;
  overflow-y: auto;
  background-color: #f9f9f9;
  height: 700px;
}

.message {
  display: flex;
  margin-bottom: 10px;
}

.message.bot {
  justify-content: flex-start;
}

.message.user {
  justify-content: flex-end;
}

.message-content {
  display: flex;
  align-items: center;
  padding: 10px;
  border-radius: 8px;
  max-width: 100%;
  text-align: start;
}

.bot-message {
  background-color: #e0e0e0;
}

.user-message {
  background-color: #0084ff;
  color: white;
}

.icon {
  margin: 0 10px;
}

.chat-footer {
  display: flex;
  flex-direction: column;
  padding: 10px;
  border-top: 1px solid #ccc;
  background-color: #161617;
}

.suggest {
  margin-bottom: 10px;
}

.suggest ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
  display: flex;
  gap: 10px;
}

.suggest li {
  background-color: #2f2f2f;
  padding: 5px 10px;
  border-radius: 8px;
  cursor: pointer;
  color: white;
}

.suggest li:hover {
  background-color: #0084ff;
}

.input-container {
  display: flex;
  align-items: center;
  gap: 10px;
}

.input-message {
  flex-grow: 1;
  padding: 10px;
  border: none;
  border-radius: 8px;
  outline: none;
}

.send-button {
  background-color: #0084ff;
  color: white;
  border: none;
  border-radius: 50%;
  padding: 10px;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
}

.send-button:hover {
  background-color: #006bbd;
}
